<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Paiement via {{payType}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-card [ngStyle]="{'background-color': color}">
      <ion-card-header>
        <ion-card-title class="card-number"><img src="{{body_image}}" height="67px" width="133px" /></ion-card-title>
        <ion-card-subtitle>
          <ion-grid>
            <ion-row style="display: flex;justify-content: space-between;">
              <div><img src="{{uriImage}}" height="21px" width="42px" /></div><img src="assets/imgs/signal.png"
                height="21px" width="21px" />
            </ion-row>
          </ion-grid>
        </ion-card-subtitle>

      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row style="display: flex;justify-content: space-between;" *ngIf="footerImage">
            <div><span class="text-content"></span></div><img src="{{footerImage}}" height="21px" width="42px" />
          </ion-row>
          <ion-row style="display: flex;justify-content: space-between;">
            <div><span class="text-content">Kevin Steves</span></div><span class="text-content">12/24</span>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <div class="input-style">
      <ion-input class="custom-input" placeholder="**** **** **** ****" [maskito]="cardMask"
        [maskitoElement]="maskPredicate" value="{{cardNumber}}"></ion-input>
    </div>
    <div class="input-style">
      <ion-input class="custom-input" placeholder="Nom complet" value="{{name}}"></ion-input>
    </div>

    <div class="ion-no-padding">
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="5" class="ion-no-padding">
            <div class="input-style">
              <ion-input class="text-input" placeholder="12/24" value="{{expiredDate}}"></ion-input>
            </div>
          </ion-col>

          <ion-col class="ion-no-padding">
            <div class="input-style">
              <ion-input class="text-input" placeholder="****" value="1234"></ion-input>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="input-style">
      <ion-input class="custom-input" placeholder="Email" value="{{email}}"></ion-input>
    </div>

    <div class="input-style">
      <ion-input class="text-input-price" placeholder="" value="250€" readonly="true"></ion-input>
    </div>
  </div>

  <div class="btn-style">
    <ion-button shape="round" expand="block">Payer</ion-button>
  </div>

</ion-content>