<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Importer des données de<br>santé de mon iPhone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container class="mySwiper" space-between="30" pagination="true" pagination-clickable="true">
    <swiper-slide>
      <div class="ion-padding">
        <ion-label class="ion-no-padding">Parlez nous de vous</ion-label>
        <img src="assets/imgs/slide1.png" />
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="ion-padding">
        <ion-label class="ion-no-padding">Parlez nous de vous</ion-label>
        <img src="assets/imgs/slide2.png" />
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="ion-padding">
        <ion-label class="ion-no-padding">Parlez nous de vous</ion-label>
        <img src="assets/imgs/slide3.png" />
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="ion-padding">
        <ion-label class="ion-no-padding">Parlez nous de vous</ion-label>
        <img src="assets/imgs/slide4.png" />
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="ion-padding">
        <ion-label class="ion-no-padding">Parlez nous de vous</ion-label>
        <img src="assets/imgs/slide5.png" />
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="ion-padding">
        <ion-label class="ion-no-padding">Parlez nous de vous</ion-label>
        <img src="assets/imgs/slide6.png" />
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="ion-padding">
        <ion-label class="ion-no-padding">Parlez nous de vous</ion-label>
        <img src="assets/imgs/slide7.png" />
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="ion-padding">
        <ion-label class="ion-no-padding">Parlez nous de vous</ion-label>
        <img src="assets/imgs/slide8.png" />
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>