<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="bloc-img ion-text-center">
    <img src="assets/imgs/success.gif" alt="Success" />
  </div>
  <div class="bloc-content ion-text-center ion-margin-top">
    <h3>Paiement effectué</h3>
    <p>Le paiement a été effectué avec succès. Votre abonnement sera pris en compte</p>

    <ion-button mode="ios" color="primary" (click)="goToHome()">Fil d'actualités</ion-button>
    <ion-button mode="ios" color="primary" fill="outline" (click)="goToProfile()">Mon profil</ion-button>
  </div>
</ion-content>
