ion-icon{
    font-size: 4rem;
    color: var(--ion-color-danger);
}

.bloc-loading{
    margin-top: 15vh;
    img{
        height: 130px;
    }
}

.custom-progress{
    margin-top: 50px;
    margin-bottom: 50px;
}
