ion-grid ion-row{
    margin-top: 15px;
    p{
        color: var(--ion-color-medium);
        text-align: justify;
    }

    p, ion-text{
        font-weight: bold;
    }
}

.boot-image img{
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 1rem;
}

.description {
    background-color: #F2F2F2;
    padding: 1rem;
    border-radius: 0.5rem;
    line-height: 1.4;
}

.exercise-form {
    .exercise-title {
        font-size: 16px;
        color: #007FFF;
        margin-bottom: 16px;
    }
    ion-item {
        border-radius: 10px;
        --background: #007FFF;
        span {
            color: #fff;
            padding-right: 4px;
            padding-left: 4px;
            border-right: solid 2px #fff;
            font-size: 14px;
            &:last-child {
                border-right-width: 0;
            }
        }
    }
}

.progression {
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: none !important;
  margin: auto;
  padding: 0px;
  border-radius: 0px;
  background-color: inherit;

  .title-col {
    font-size: 0.75rem;
  }

  .bg_level {
      background: var(--ion-color-grislight);
      height: 20px;
      border-radius: 20px;
  }

  .vert-soft,
  .orange,
  .rouge {
      position: relative;
      top: -20px;
      text-align: center;

      ion-icon {
          font-size: 1.6rem;
          margin-top: 3px;
      }
  }

  .vert-soft {
      background: var(--ion-color-vert-soft);
  }

  .orange {
      background: var(--ion-color-orange);
  }

  .rouge {
      background: var(--ion-color-rouge);
  }

  .color-vert-soft {
    color: var(--ion-color-vert-soft);
  }

  .color-orange {
      color: var(--ion-color-orange);
  }

  .color-rouge {
      color: var(--ion-color-rouge);
  }
}

ion-button {
  width: 100%;
  --border-radius: 24px;
  margin-top: 48px;
}
