<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Informations personnelles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="login-logo ion-text-center">
    <img src="{{imgLogo}}" alt="Fitness Profile" />
  </div>
  <ion-icon (click)="updatePhoto()" class="icon-camera" name="camera-outline"></ion-icon>

  <ion-list *ngIf="current_user" class="custom-form ion-margin-top">
    
    
    <h4 class="txt_title">Identité</h4>
    
    <ion-label color="medium">Nom</ion-label>
    <ion-item lines="none">
      <ion-input type="text" [(ngModel)]="current_user.last_name"></ion-input>
    </ion-item>

    <ion-label color="medium">Prénom</ion-label>
    <ion-item lines="none">
      <ion-input type="text" [(ngModel)]="current_user.first_name"></ion-input>
    </ion-item>

    <!-- <ion-label color="medium">Profession</ion-label>
    <ion-item lines="none">
      <ion-input type="text" [(ngModel)]="current_user.function"></ion-input>
    </ion-item> -->
 
    <ion-label color="medium">Email</ion-label>
    <ion-item lines="none">
      <ion-input [readonly]="true" type="email" [(ngModel)]="current_user.email"></ion-input>
    </ion-item>
    

    <ion-label color="medium">Téléphone</ion-label>
    <ion-item lines="none">
    <ion-input 
      type="tel"
      [(ngModel)]="current_user.phone_number" 
      label=""
      placeholder="+33 xxxxxxx"
    ></ion-input>
     <!-- <span class="fi fi-{{selectedCode.flagClass}}" slot="start" (click)="openCountries()"> </span>
    <ion-intl-tel-input [defaultCountryiso]="selectedCode.isoCode" (numberChange)="handleNumberPhone($event)" (codeChange)="handlePhoneChanged($event)"  [(ngModel)]="user_phone"></ion-intl-tel-input>  -->
  </ion-item>

    
    <h4 class="txt_title">Adresse</h4>
    
    <ion-label color="medium">Pays</ion-label>
    <ion-item lines="none" (click)="showPays()">
      <ion-label>
        <h2>{{current_user.country_id.name}}</h2>
      </ion-label>
      <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-label color="medium">Ville</ion-label>
    <ion-item lines="none">
      <ion-input type="text" [(ngModel)]="current_user.address"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col size="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">
        <ion-button mode="ios" [disabled]="is_pending" (click)="onUpdate()" expand="block">Mettre à jour <ion-spinner *ngIf="is_pending" color="light"></ion-spinner></ion-button>
      </ion-col>
    </ion-row>
  </ion-list>
  <!-- ENd of update user-->

    <!-- Countries -->
    <ion-modal #modalCountry [isOpen]="is_country" (didDismiss)="handleCloseCountry($event)">
      <ng-template>
        <ion-header class="ion-no-border">
          <ion-toolbar>
            <ion-title>
              <ion-searchbar mode="ios" [(ngModel)]="txt_search" (ionInput)="getItems($event)" placeholder="Rechercher un pays"></ion-searchbar>
            </ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="onClose()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
              </ion-button>
            </ion-buttons>
            
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <!-- <ion-list-header>Select a country</ion-list-header> -->
            <ion-item *ngFor="let obj of list_countries" (click)="selectCountry(obj)">
              <ion-label>{{obj.name}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
</ion-content>
