
ion-grid, .subscribers{
    padding-left: 10px;
    padding-right: 10px;
}

.bloc-profile{
    ion-label h3{
        font-size: 1.1rem;
    }
    .badge {
        width: 16px;
        height: 16px;
        font-size: 8px;
        background-color: #08FF00;
        border-radius: 50%;
        position: absolute;
        top: -4px;
        right: 0px;
        line-height: 1.4;
        border: solid 2px #fff;
        text-align: center;
    }
}
.bloc-fitness{
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;

    ion-col{
        padding-top: 10px;
        color: var(--ion-color-light);
        ion-text{
            font-size: 0.75rem;
        }
    }

    .btn-level{
        padding-left: 1rem;
        position: relative;
        top: 10px;
        span{
            color: var(--ion-color-success);
            margin-right: 10px;
        }
        ion-text{
            background-color: var(--ion-color-light);
            color: var(--ion-color-success);
            padding: 3px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 0.7rem;
            font-size: 0.85rem;
        }
    }
}

.subscribers {
    h4{
        font-size: 1.2rem;
        margin-left: 15px;
    }
}

.scrollmenu .bloc_coach {

    text-align: center;
    padding: 14px 0;
    width: auto;
    ion-avatar{
        margin: auto;
        border: 3px solid var(--ion-color-primary);
        width: 4rem;
        height: 4rem;
        margin: 0.3rem;
    }
    ion-text{
        font-size: 0.75em;
    }

    ion-icon{
        font-size: 4.6rem;
    }

    .badge {
        width: 14px;
        height: 14px;
        background-color: #08FF00;
        border-radius: 50%;
        position: absolute;
        top: 18px;
        right: 8px;
        border: solid 2px #fff;
    }
}

.icon-add-post {
    .icon-inner {
        svg{
            color: #fbfbfb;
        }
    }
}

.defis_color .defis{
    padding: 14px;
}

.title-follow{
    margin-top: 30px;

}

.bloc-blue{
    ion-card-content{
        ion-item{
            ion-label{
                font-size: 0.8rem;
            }

            h4{
                font-size: 1.2rem;
            }
        }
    }
}

