ion-title{
    font-family:"Urbanist-Bold";
}

.text-content{
    font-size: 1rem;
}

.card-number{
    font-size: 1.4rem;
    text-align: center;
    color: white;
}
ion-card-content{
    color: white;
}
